%div{class: "cont-#{message.user.id}"}
  %div{class: "message-box msg-#{message.user.id}"}
    .d-flex.align-items-center
      = image_tag(message.user.chat_avatar, class: "chat_pfp") 
      %div
        %h6.name
          = message.user.username
          %p.time="#{time_ago_in_words(message.created_at)} ago"
    -# - unless message.room.is_private
    -#   %h6.name= message.user.email
    = message.body

