- if @selected_room && @selected_room.participant?(@selected_room, user)
  - is_active = 'active'
-else
  - is_active = ''
%li{class: "list-group-item d-flex align-items-center justify-content-between user_list_item #{is_active}"}
  %div.icon-container
    = link_to image_tag(user.chat_avatar, class:'chat_pfp'), user
    = turbo_stream_from 'user_status'
    %div
      = render 'users/status', user: user
  = link_to user.email, user, class: "ms-2 me-auto username", data: { turbo: "false"}